.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #162c47;
  overflow: hidden;
}

svg {
  transform: scale(2);
  backface-visibility: hidden;
  @media screen and (min-width: 768px) {
    transform: scale(3);
  }
}

g {
  box-shadow: 0 0 10px black;
}

#fox-g {
  path,
  polygon {
    transform-origin: 5em center;
  }
}

#name-g {
  path {
    display: block;
    position: relative;
    transform-origin: 25% 75%;
    &:after {
      content: '';
      position: absolute;
      height: 3em;
      width: 100%;
      background: black;
      border-radius: 100%;
    }
  }
}
