* {
  margin: 0;
  padding: 0;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-color: white;
  background-image: url('../src/Screenshot_1.png'); /* Pakai BGJar.com license free */
  font-family: 'Ubuntu', sans-serif;
}
/*  */

/*  */
.judulfact {
  font-size: 1.7em;
  font-family: 'Ubuntu', sans-serif;
}
.container3 {
  height: 1300px;
}
#svg1 {
  fill: #00254c;
}
#flexSwitchCheckDefault {
  background-color: #3d437f;
  border-color: white;
  color: white;
}
#sec5 {
  background-color: #00254c;
  margin-top: -1rem;
}
#lanjut1 {
  background-color: #133764;
}
#judul {
  color: white;
}
#judul1 {
  color: white;
}
#filling {
  fill: #133764;
}
.margtips {
  margin-right: 3rem;
}
#wv1 {
  background-color: #133764;
  margin-top: -1rem;
}
#secfitur {
  padding-top: 3rem;
  background-color: #0e2a47;
}
#maps {
  border: 0;
  width: 450px;
  height: 450px;
}
.formcontact {
  margin-left: -1.5rem;
}
.scroll {
  text-align: center;
}
.center {
  text-align: center;
}
.fototips {
  border-radius: 50%;
  width: 325px;
  height: 325px;
}

a {
  text-decoration: none;
}

.khusus1 {
  font-family: 'Ubuntu', sans-serif;
}
.container1 {
  background-image: url('../src/WM1.jpg'); /* Pakai BGJar.com license free */
  height: 700px;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#container1 {
  background-image: url('../src/WM1.jpg'); /* Pakai BGJar.com license free */
  height: 700px;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.pertama {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.gambar1 {
  width: 600px;
  height: 400px;
}
.lain {
  color: black;
}
.asli {
  font-size: 3.2em;
}
.container2 {
  margin-top: 5rem;
  color: black;
}
.bgcard1 {
  background-color: #5e7ade;
  border-radius: 10px;
  border: 0;
}
.con2 {
  background-color: #133764;
  color: white;
}
.khusus4 {
  width: 5rem;
}
.delapanenam {
  margin-left: 1rem;
}
.judul1 {
  color: #9fb2f3;
  font-size: 4em;
  font-family: 'Ubuntu', sans-serif;
}
.gambar2 {
  width: 550px;
  height: 600px;
}
.gambar3 {
  width: 450px;
  height: 550px;
}
.pad {
  padding-left: 100px;
}
.judulgrafik {
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
}
.judul2 {
  font-size: 2em;
  font-family: 'Comfortaa', cursive;
}
.grafikbawah {
  font-size: 3em;
}
footer {
  text-align: left;
}
.warnaheader {
  background-color: #25292e;
}
.wave-top {
  top: 0;
  left: 0;
  width: 100%;
}
.wave-top1 {
  top: 0;
  left: 0;
  width: 100%;
}
#buttonsatu1 {
  padding: 1em 3em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #6ebce4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#buttonsatu1:hover {
  background-color: #6ebce4;
  /* box-shadow: 0px 15px 20px #6ebde448; */
  color: #fff;
  transform: translateY(-7px);
}
#buttonsatu1:active {
  transform: translateY(-1px);
}
#buttonsatu2 {
  padding: 1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #6ebce4;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#buttonsatu2:hover {
  background-color: #6ebce4;
  /* box-shadow: 0px 15px 20px #139fe648; */
  color: #fff;
  transform: translateY(-7px);
}
#buttonsatu2:active {
  transform: translateY(-1px);
}
.card-title {
  color: black;
}
.card-text {
  color: black;
}
#tombol {
  padding: 0.8em 1.8em;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #000;
}

#tombol::before {
  content: '';
  width: 0%;
  height: 550%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ff0000;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#tombol:hover::before {
  width: 105%;
}

#tombol:hover {
  color: white;
}

.borderimage {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #2144d6;
  transition: all 0.3s ease;
}

#cardhover:hover {
  background: rgba(27, 62, 108, 1);
  transform: scale(1.03);
  border-radius: 7%;
  transition: all 0.5s ease;
}

#hilang {
  visibility: hidden;
}

#hilang1 {
  visibility: hidden;
}
#hilang2 {
  visibility: hidden;
}
#hilang3 {
  visibility: hidden;
}
#hilang4 {
  visibility: hidden;
}
#hilang6 {
  visibility: hidden;
}
.kontak_tinggi {
  height: 700px;
}

.judulatas {
  /* color: #9fb2f3; */
  font-size: 3em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}
.ket_atas {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}
.about {
  width: 30rem;
}
.ket_1 {
  line-height: 2;
  text-align: justify;
}
.ket_2 {
  line-height: 2;
  padding-left: 9em;
  padding-right: 9em;
}
.contact_image {
  margin-top: 8rem;
  height: 30rem;
  width: 30rem;
}

@media only screen and (min-width: 319px) and (max-width: 767px) {
  body {
    font-family: 'Ubuntu', sans-serif;
  }
  p {
    text-align: left;
    font-size: 0.8em;
  }
  .container3 {
    background-color: #00254c;
    height: 3200px;
  }
  .pertama {
    padding-top: 3rem;
    margin-top: 0;
  }
  #container1 {
    height: 1200px;
  }
  .khusus1 {
    font-family: 'Ubuntu', sans-serif;
  }
  .khusus2 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .gambar1 {
    width: 21rem;
    height: 13rem;
  }

  .gambar2 {
    width: 18rem;
    height: 18rem;
    padding-left: 50px;
  }
  .gambar3 {
    width: 18rem;
    height: 18rem;
    padding-left: 70px;
  }

  .mobilecard1 {
    width: 18rem;
    margin: 0 auto;
    font-size: 0.8em;
  }

  .judul1 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
  }
  .judul2 {
    font-size: 1em;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .con3 {
    padding-top: 1rem;
  }

  .grafikbawah {
    font-size: 1.3rem;
  }
  .bawah {
    margin-top: 1rem;
  }
  .asli {
    font-size: 1rem;
  }
  .judulgrafik {
    font-size: 2em;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-family: 'Ubuntu', sans-serif;
  }
  .judulatas {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .ket_atas {
    font-size: 1em;
  }
  .ket_1 {
    line-height: 1.5;
    font-size: 0.8em;
  }
  .pad {
    padding-left: 0rem;
  }
  .contact_image {
    height: 20rem;
    width: 15rem;
    margin-left: 4rem;
  }
  .kontak_tinggi {
    height: 1000px;
  }
  .ket_2 {
    line-height: 2;
    padding: 0;
  }
  .btn_search {
    padding-top: 2rem;
    padding-left: 0;
  }

  .margtips {
    margin-right: 0;
  }
  .fototips {
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }
  #maps {
    border: 0;
    width: 250px;
    height: 250px;
    margin-left: 3.25rem;
    padding-bottom: 2rem;
  }
  .formcontact {
    margin-left: 0rem;
  }
  .middle {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ket_2 {
    line-height: 2;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .middle {
    margin: 0 auto;
  }
  p {
    text-align: left;
    font-size: 0.8em;
  }
  .pertama {
    padding-top: 3rem;
    margin-top: 0;
  }
  .container1 {
    height: 900px;
  }
  .khusus1 {
    font-family: 'Ubuntu', sans-serif;
  }
  .khusus2 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .gambar1 {
    width: 21rem;
    height: 13rem;
  }

  .gambar2 {
    width: 20rem;
    height: 20rem;
  }
  .gambar3 {
    width: 20rem;
    height: 25rem;
  }

  .mobilecard1 {
    width: 30rem;
    margin: 0 auto;
    font-size: 0.8em;
  }

  .judul1 {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
  }
  .judul2 {
    font-size: 1em;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .con3 {
    padding-top: 1rem;
  }

  .grafikbawah {
    font-size: 1.3rem;
  }
  .bawah {
    margin-top: 1rem;
  }
  .asli {
    font-size: 1rem;
  }
  .judulgrafik {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .judulatas {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .ket_atas {
    font-size: 1em;
  }
  .ket_1 {
    line-height: 1.5;
    font-size: 0.8em;
  }
  .pad {
    padding-left: 1rem;
  }
  .padd_ipad {
    padding-bottom: 1.5rem;
  }
  .contact_image {
    margin-top: 10rem;
    height: 25rem;
    width: 20rem;
  }
  .rowtips {
    margin-left: 3rem;
  }
  .margtips {
    margin-right: 0;
  }
  .fototips {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  #maps {
    border: 0;
    width: 250px;
    height: 250px;
  }
  .formcontact {
    margin-left: 0rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .judulfact {
    font-size: 1.5em;
  }
  .margtips {
    margin-right: 3rem;
  }
  .center {
    text-align: center;
  }
  .fototips {
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }

  .contact_image {
    margin-top: 2rem;
    height: 30rem;
    width: 25rem;
  }
  p {
    text-align: left;
    font-size: 0.8em;
  }
  .pertama {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .container1 {
    height: 700px;
  }
  .khusus1 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
  }
  .tiga {
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
  }
  .khusus2 {
    text-align: center;
    width: 4rem;
  }
  .khusus4 {
    width: 5rem;
    transform: rotate(350deg);
  }
  .khusus5 {
    width: 5rem;
    height: 4rem;
  }

  .gambar1 {
    width: 500px;
    height: 300px;
  }

  .gambar2 {
    width: 25rem;
    height: 25rem;
  }
  .gambar3 {
    width: 25rem;
    height: 30rem;
    margin-left: 5rem;
  }
  .bgcard1 {
    background-color: #264480;
    border-radius: 10px;
    border: 0;
    height: 5.5rem;
  }
  .mobilecard1 {
    width: 23rem;
    margin: 0 auto;
    font-size: 0.7em;
  }

  .judul1 {
    font-size: 2.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .judul2 {
    font-size: 1.5em;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .con3 {
    padding-top: 1rem;
  }

  .grafikbawah {
    font-size: 1.5rem;
  }
  .bawah {
    margin-top: 1rem;
  }
  .asli {
    font-size: 1rem;
  }
  .judulgrafik {
    font-size: 2.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .judulatas {
    font-size: 2.5em;
    font-family: 'Ubuntu', sans-serif;
  }
  .ket_atas {
    font-size: 0.99rem;
  }
  .ket_1 {
    line-height: 1.5;
    font-size: 15px;
  }
  .foot_contact {
    font-size: 0.85rem;
  }
  .pad {
    padding-left: 1rem;
  }
  #maps {
    border: 0;
    width: 400px;
    height: 400px;
    margin-bottom: 2rem;
  }
  .formcontact {
    margin-left: 0rem;
  }
}

.card1 {
  /* width: 12.5rem; */
  /* height: 17rem; */
  color: black;
  background-color: #6ebce4;
  border-radius: 1rem;
  border: rgba(106, 111, 129, 0.8) 0.2rem solid;
  transition: all 0.4s ease-in;
  box-shadow: 0.4rem 0.4rem 0.6rem rgba(72, 81, 112, 0.3);
}
.card2 {
  color: white;
  background-color: #25292e;
  border-radius: 1rem;
  border: rgba(106, 111, 129, 0.8) 0.2rem solid;
  transition: all 0.4s ease-in;
  box-shadow: 0.4rem 0.4rem 0.6rem rgba(72, 81, 112, 0.3);
}

.card1:hover {
  transform: translateY(-0.2rem);
  border: #fe9e88 0.2em solid;
  border-radius: 2.5rem 0 2.5rem 0;
}
.card2:hover {
  transform: translateY(-0.2rem);
  border: #fe9e88 0.2em solid;
  border-radius: 2.5rem 0 2.5rem 0;
}

/*Meet Our Team*/
.our_team {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
.profile img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.cardteam {
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.body-team {
  position: relative;
  bottom: 35px;
}

.btnteam {
  position: absolute;
  transform: translateX(0);

  width: 140px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

.btnteam::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: all 0.5s;
}

.btnteam:hover::before {
  width: 100%;
}

.btnteam:hover {
  color: white;
}

.btnteam:active:before {
  background: #b9b9b9;
}

/* switch mode */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #133764;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.3em;
  width: 1.3em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(40deg, #ff0080, #ffe600 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
  background: #303136;
  -webkit-box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}
